.top-block {
  background-image: url('../img/bg/index-page-top-bg.jpeg');

  background-image: image-set(
    url('../img/bg/index-page-top-bg.webp'),
    url('../img/bg/index-page-top-bg.jpeg')
  );
  
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20 * $space;
  padding-bottom: 5 * $space;
}
