.index-page {
    background-image: url('../img/sprite.svg#bg-main-page');
    background-position-x: 50%;
    background-position-y: 10 * $space;
    background-size: calc(min($container-xxl-max-width, 100%))
    ;
}