<!DOCTYPE html>
@@include('../page-blocks/_head.html',{
"lang":"en",
"title":"Anya-MVP",
"description":"Gulp pack for easy html/php markup development",
"keywords":"",
"favicon":"img/favicons/favicon",
})

<body>
    <div class="position-fixed text-uppercase" style="font-size: 5rem; z-index: 9999;"> 
        <span class="d-sm-none">xs</span>
        <span class="d-none d-sm-inline d-md-none">sm</span>
        <span class="d-none d-md-inline d-lg-none">md</span>
        <span class="d-none d-lg-inline d-xl-none">lg</span>
        <span class="d-none d-xl-inline d-xxl-none">xl</span>
        <span class="d-none d-xxl-inline ">xxl</span>

    </div>
@@include('../page-blocks/_header.html')

<div class="content">