.bg-primary {
  background-color: $bg-primary;
}
.bg-img {
  background-image: url("../img/bg-main.jpeg");
  background-repeat: repeat;

  background-image: image-set(
    url("../img/bg-main.webp"),
    url("../img/bg-main.jpeg")
  );
}
.bg-gradient {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $bg-gradient;
    }
}