.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.d-none {
  display: none;
}

.--just-space {
  justify-content: space-between;
}

.--just-center {
  justify-content: center;
}

.--just-end {
  justify-content: flex-end;
}

.--align-str {
  align-items: stretch;
}

.--align-center {
  align-items: center;
}

.--align-end {
  align-items: flex-end;
}

.--dir-col {
  flex-direction: column;
}

.--no-wrap {
  flex-wrap: nowrap;
}

.--wrap {
  flex-wrap: wrap;
}

.--fill {
  flex: 1 1 auto;
}

.--row {
  flex-direction: row;
}

.--column {
  flex-direction: column;
}

.--grow-0 {
  flex-grow: 0;
}

.--grow-1 {
  flex-grow: 1;
}

.--shrink-0 {
  flex-shrink: 0;
}

.--shrink-1 {
  flex-shrink: 1;
}

.--order-first {
  order: -1;
}

.--order-0 {
  order: 0;
}

.--order-1 {
  order: 1;
}

.--order-2 {
  order: 2;
}

.--order-3 {
  order: 3;
}

.--order-4 {
  order: 4;
}

.--order-5 {
  order: 5;
}

.--order-last {
  order: 6;
}

@media (min-width:$breakpoint-sm) {
  .flex-sm {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .d-sm-none {
    display: none;
  }
  
  .--just-sm-space {
    justify-content: space-between;
  }
  
  .--just-sm-center {
    justify-content: center;
  }
  
  .--just-sm-end {
    justify-content: flex-end;
  }
  
  .--align-sm-str {
    align-items: stretch;
  }
  
  .--align-sm-center {
    align-items: center;
  }
  
  .--align-sm-end {
    align-items: flex-end;
  }
  
  .--dir-sm-col {
    flex-direction: column;
  }
  
  .--no-wrap-sm {
    flex-wrap: nowrap;
  }
  
  .--wrap-sm {
    flex-wrap: wrap;
  }
  
  .--fill-sm {
    flex: 1 1 auto;
  }
  
  .--row-sm {
    flex-direction: row;
  }
  
  .--column-sm {
    flex-direction: column;
  }
  
  .--grow-sm-0 {
    flex-grow: 0;
  }
  
  .--grow-sm-1 {
    flex-grow: 1;
  }
  
  .--shrink-sm-0 {
    flex-shrink: 0;
  }
  
  .--shrink-sm-1 {
    flex-shrink: 1;
  }
  
  .--order-sm-first {
    order: -1;
  }
  
  .--order-sm-0 {
    order: 0;
  }
  
  .--order-sm-1 {
    order: 1;
  }
  
  .--order-sm-2 {
    order: 2;
  }
  
  .--order-sm-3 {
    order: 3;
  }
  
  .--order-sm-4 {
    order: 4;
  }
  
  .--order-sm-5 {
    order: 5;
  }
  
  .--order-sm-last {
    order: 6;
  }
}
@media (min-width:$breakpoint-md) {
  .flex-md {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .d-md-none {
    display: none;
  }
  
  .--just-md-space {
    justify-content: space-between;
  }
  
  .--just-md-center {
    justify-content: center;
  }
  
  .--just-md-end {
    justify-content: flex-end;
  }
  
  .--align-md-str {
    align-items: stretch;
  }
  
  .--align-md-center {
    align-items: center;
  }
  
  .--align-md-end {
    align-items: flex-end;
  }
  
  .--dir-md-col {
    flex-direction: column;
  }
  
  .--no-wrap-md {
    flex-wrap: nowrap;
  }
  
  .--wrap-md {
    flex-wrap: wrap;
  }
  
  .--fill-md {
    flex: 1 1 auto;
  }
  
  .--row-md {
    flex-direction: row;
  }
  
  .--column-md {
    flex-direction: column;
  }
  
  .--grow-md-0 {
    flex-grow: 0;
  }
  
  .--grow-md-1 {
    flex-grow: 1;
  }
  
  .--shrink-md-0 {
    flex-shrink: 0;
  }
  
  .--shrink-md-1 {
    flex-shrink: 1;
  }
  
  .--order-md-first {
    order: -1;
  }
  
  .--order-md-0 {
    order: 0;
  }
  
  .--order-md-1 {
    order: 1;
  }
  
  .--order-md-2 {
    order: 2;
  }
  
  .--order-md-3 {
    order: 3;
  }
  
  .--order-md-4 {
    order: 4;
  }
  
  .--order-md-5 {
    order: 5;
  }
  
  .--order-md-last {
    order: 6;
  }
}
@media (min-width:$breakpoint-lg) {
  .flex-lg {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .d-lg-none {
    display: none;
  }
  
  .--just-lg-space {
    justify-content: space-between;
  }
  
  .--just-lg-center {
    justify-content: center;
  }
  
  .--just-lg-end {
    justify-content: flex-end;
  }
  
  .--align-lg-str {
    align-items: stretch;
  }
  
  .--align-lg-center {
    align-items: center;
  }
  
  .--align-lg-end {
    align-items: flex-end;
  }
  
  .--dir-lg-col {
    flex-direction: column;
  }
  
  .--no-wrap-lg {
    flex-wrap: nowrap;
  }
  
  .--wrap-lg {
    flex-wrap: wrap;
  }
  
  .--fill-lg {
    flex: 1 1 auto;
  }
  
  .--row-lg {
    flex-direction: row;
  }
  
  .--column-lg {
    flex-direction: column;
  }
  
  .--grow-lg-0 {
    flex-grow: 0;
  }
  
  .--grow-lg-1 {
    flex-grow: 1;
  }
  
  .--shrink-lg-0 {
    flex-shrink: 0;
  }
  
  .--shrink-lg-1 {
    flex-shrink: 1;
  }
  
  .--order-lg-first {
    order: -1;
  }
  
  .--order-lg-0 {
    order: 0;
  }
  
  .--order-lg-1 {
    order: 1;
  }
  
  .--order-lg-2 {
    order: 2;
  }
  
  .--order-lg-3 {
    order: 3;
  }
  
  .--order-lg-4 {
    order: 4;
  }
  
  .--order-lg-5 {
    order: 5;
  }
  
  .--order-lg-last {
    order: 6;
  }
}
@media (min-width:$breakpoint-xl) {
  .flex-xl {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .d-xl-none {
    display: none;
  }
  
  .--just-xl-space {
    justify-content: space-between;
  }
  
  .--just-xl-center {
    justify-content: center;
  }
  
  .--just-xl-end {
    justify-content: flex-end;
  }
  
  .--align-xl-str {
    align-items: stretch;
  }
  
  .--align-xl-center {
    align-items: center;
  }
  
  .--align-xl-end {
    align-items: flex-end;
  }
  
  .--dir-xl-col {
    flex-direction: column;
  }
  
  .--no-wrap-xl {
    flex-wrap: nowrap;
  }
  
  .--wrap-xl {
    flex-wrap: wrap;
  }
  
  .--fill-xl {
    flex: 1 1 auto;
  }
  
  .--row-xl {
    flex-direction: row;
  }
  
  .--column-xl {
    flex-direction: column;
  }
  
  .--grow-xl-0 {
    flex-grow: 0;
  }
  
  .--grow-xl-1 {
    flex-grow: 1;
  }
  
  .--shrink-xl-0 {
    flex-shrink: 0;
  }
  
  .--shrink-xl-1 {
    flex-shrink: 1;
  }
  
  .--order-xl-first {
    order: -1;
  }
  
  .--order-xl-0 {
    order: 0;
  }
  
  .--order-xl-1 {
    order: 1;
  }
  
  .--order-xl-2 {
    order: 2;
  }
  
  .--order-xl-3 {
    order: 3;
  }
  
  .--order-xl-4 {
    order: 4;
  }
  
  .--order-xl-5 {
    order: 5;
  }
  
  .--order-xl-last {
    order: 6;
  }
}