.flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .--just-space {
    justify-content: space-between;
  }
  
  .--just-center {
    justify-content: center;
  }
  
  .--just-end {
    justify-content: flex-end;
  }
  
  .--align-str {
    align-items: stretch;
  }
  
  .--align-center {
    align-items: center;
  }
  
  .--align-end {
    align-items: flex-end;
  }
  
  .--dir-col {
    flex-direction: column;
  }
  