.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.--just-space {
  justify-content: space-between;
}

.--just-center {
  justify-content: center;
}

.--just-end {
  justify-content: flex-end;
}

.--align-str {
  align-items: stretch;
}

.--align-center {
  align-items: center;
}

.--align-end {
  align-items: flex-end;
}

.--dir-col {
  flex-direction: column;
}

.--no-wrap {
  flex-wrap: nowrap;
}

.--wrap {
  flex-wrap: wrap;
}

.--fill {
  flex: 1 1 auto;
}

.--row {
  flex-direction: row;
}

.--column {
  flex-direction: column;
}

.--grow-0 {
  flex-grow: 0;
}

.--grow-1 {
  flex-grow: 1;
}

.--shrink-0 {
  flex-shrink: 0;
}

.--shrink-1 {
  flex-shrink: 1;
}

.--order-first {
  order: -1;
}

.--order-0 {
  order: 0;
}

.--order-1 {
  order: 1;
}

.--order-2 {
  order: 2;
}

.--order-3 {
  order: 3;
}

.--order-4 {
  order: 4;
}

.--order-5 {
  order: 5;
}

.--order-last {
  order: 6;
}
