.font-zilla {
  font-family: "Zilla Slab Highlight", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}
