.font-zilla {

}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.font-italic {
  font-style: italic;
}

.font-main {
  font-size: $font-size-main;
}

.font-md {
  font-size: 1.25 * $font-size-main;
}

.font-xl {
  font-size: 4 * $font-size-main;
  font-weight: 300;
  letter-spacing: -.03em;
  line-height: 1.05 * (4 * $font-size-main);
}

.font-uppercase {
  text-transform: uppercase;
}