// colors

.text-primary {
  color: $text-primary;
}

.text-accent {
  color: $text-accent;
}

.text-opposite {
  color: $text-opposite;
}

//backgrounds
.bg-primary {
  background-color: $bg-primary;
}
.bg-accent {
  background-color: $bg-accent;
}

.bg-img {
  background-image: url('../img/bg-main.jpeg');

  background-image: image-set(url('../img/bg-main.webp'), url('../img/bg-main.jpeg'));
  background-repeat: repeat;
}

.bg-gradient {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $bg-gradient;
    content: '';
  }

  & > * {
    position: relative;
    z-index: 2;
  }
}
