<header id="header" class="header" >
  <div class="container test-1">
    <div class="row">
      <div class="header__logo col-2 --align-center  test-1 col-sm col-md-2">
        @@include(
          '../UI/_logo.html', 
        )
      </div>
      <div class="header__nav col flex --just-center --align-center py-3" >
        <ul class="nav flex font-sm gap-3">
          <li class="active flex">
            <a href="#"> Home </a>
          </li>
          <li class="flex">
            <a href="#"> About Us </a>
          </li>
          <li class="flex">
            <a href="#"> Residential </a>
          </li>
          <li class="flex">
            <a href="#"> Commercial </a>
          </li>
          <li class="flex">
            <a href="#"> Contact </a>
          </li>
        </ul>
      </div>
      <div class="header__button col-2 --align-center --just-end py-3">
        @@include(
          '../UI/_button.html', 
          { "class": "accent", "title": "request design" }
        )
      </div>
    </div>
  </div>
</header>
<span id="observer"></span>

