<header class="header py-3 ">
  <div class="container">
    <div class="row">
      <div class="header__logo col-2 --align-center">
        <a href="/">
          <picture class="logo">
            <source srcset=/img/logo.webp type=”image/webp”> <source
            srcset=/img/logo.png type=”image/png> <img src=img/logo.png
            alt=”logo”>
          </picture>
        </a>
      </div>
      <div class="header__nav col-8 flex --just-center --align-center">
        <ul class="nav flex font-md gap-3">
          <li class="active flex">
            <a href="#"> Home </a>
          </li>
          <li class="flex">
            <a href="#"> About Us </a>
          </li>
          <li class="flex">
            <a href="#"> Residential </a>
          </li>
          <li class="flex">
            <a href="#"> Commercial </a>
          </li>
          <li class="flex">
            <a href="#"> Contact </a>
          </li>
        </ul>
      </div>
      <div class="header__button col-2 --align-center --just-end">
        @@include('../UI/button.html', { 
          "class": "primary", 
          "title": "request design"
        })
      </div>
    </div>
  </div>
</header>
