.header {
  position: fixed;
  top: 0;
  z-index: 3;
  background: $bg-accent;
  width: 100%;
  transition: $transition-duration;
  color: $text-primary;


}

.logo {
  height: 100%;

}

.nav {
  .active {
    text-decoration: underline;
  }
}


.logo__img {
  margin: auto 0;
  height: $space * 4;
  width: $space * 4;
}

@media (min-width: $breakpoint-sm) {



}