.header {
    position: sticky;
    top: 0;
    background: $bg-accent;
    width: 100%;
    z-index: 2;
}
.logo {
    img,source {
        // width: $space *5;
        height: $space * 4;
        width: auto;
    }
}

.nav {
    .active {
        text-decoration: underline;
    }
}