.button {
  display: flex;
  $button-border-var: $space * 0.0625;
  cursor: pointer;
  border: solid ($button-border-var) currentColor;
  border-radius: $button-border-var * 2;
  padding: $space (
    2 * $space
  );
font-weight: 700;
font-size: $font-size-button;
text-transform: uppercase;
white-space: nowrap;
height: calc(1em + ($space *2));


&.primary {
  background: transparent;
  color: $text-opposite;
}

&.accent {
  background: $bg-accent;
  color: $text-primary;
}
}